*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
.titulo{
    width: 100%;
    height: auto;
    background-color: black;

    &__1{
        color: white;
        font-size: 3rem;
        padding: 1rem;
    }
}

//  .main-nav{
//      float: left;
    
//  }
.nav{
    width: 30%;
    height: 220px;
    background-color: rgb(192, 183, 183);

    &__menu{
        font-size: 2rem;
        padding: 1rem;
    }

    &__li{
        margin-left: 3rem;
        padding: 0.5rem;
    }
}

.main{
    width: 70%;
    height: auto;
    background-color:white;
      float: left;
      position: absolute;
      left: 30%;
      top: 12.2%;

      &__sub{
          font-size: 2rem;
          padding: 1rem;
      }

      &__p{
          padding: 1rem;
      }
}

.footer{
    width: 100%;
    height: auto;
    background-color:rgb(99, 93, 93);
    color: white;
    text-align: center;

    &__p{

        padding: 1rem;
    }
}